/*styling for both own goal (kanban display) page for all users*/
.kanban-goal-main-page {
  height: 80%;
}

.goal-page-header {
  background-color: white;
  font-size: 1.7rem;
  font-weight: bold;
  height: 10%;
  padding-top: 2%;
  padding-left: 1.2%;
  padding-right: 3%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.second-div {
  flex: 1;
  height: 8%;
  display: flex;
  justify-content: space-between;
  margin-right: 2%;
}

.view-type {
  padding-top: 0.6%;
  padding-left: 1.5%;
  flex: 1;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: rgb(39, 39, 39);
}

.set-goal-button {
  flex: 1;
  display: flex;
}

button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  display: block;
  margin: auto;
}

.button-with-icon {
  display: flex;
  align-items: center;
  margin-right: 2%;
}

.second-div button {
  padding-left: 10%;
  padding-right: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
  background-color: rgba(22, 188, 178, 255);
  align-content: center;
}

.boards {
  margin-top: 2%;
  margin-left: 1%;
  display: flex;
  margin-right: 1%;
  height: 100%;
}

.to-do-board {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: rgb(254,213,209);
  margin-right: 2%;
  border-radius: 10px;
  padding-left: 1%;
  padding-right: 1%;
  height: auto;
  overflow: auto;
}

.in-progress-board {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: rgb(255,235,192);
  margin-right: 2%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  height: auto;
  overflow: auto;
}

.done-board {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: rgb(202,240,204);
  border-radius: 10px;
  margin-right: 2%;
  padding-left: 1%;
  padding-right: 1%;
  height: auto;
  overflow: auto;
}

.goal-header {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  flex-direction: column;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 10%;
}

.to-do-heading {
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-top: 5%;
  color: rgb(142, 14, 0);
  font-weight: 500;
  font-size: larger;
}

.in-progress-heading {
  display: flex;
  align-items: center;
  font-size: larger;
  padding-left: 7%;
  padding-top: 5%;
  color: rgb(158, 103, 1);
  font-weight: 500;
}

.done-heading {
  display: flex;
  align-items: center;
  font-size: larger;
  padding-left: 7%;
  padding-top: 5%;
  color: rgb(0, 136, 86);
  font-weight: 500;
}

.to-do-goals {
  height: 100%;
  margin-bottom: 5%;
}

.in-progress-goals {
  height: 100%;
  margin-bottom: 5%;
}

.done-goals {
  height: 100%;
  margin-bottom: 5%;
}

.goal-title {
  font-weight: bold;
  margin-bottom: 4%;
  font-size: 1rem;
}

.goal-description {
  font-size: 0.9rem;
  color: #323232;
}

.goal-bottom-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: auto;
}

.bottom-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.edit-div{
  cursor: pointer;
  width: calc(100%/3);
}
.due-date-description{
  text-align: center;
  width: calc(100%/3);
  margin-left: 3%;
}

.flag-icon {
  padding-top: 3%;
  margin-right: 4%;
  color: grey;
}

.due-date-description {
  flex: 1;
  margin-top: 2%;
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.due-date {
  font-size: small;
  color: rgb(100, 100, 100);
}

.line {
  flex: 1;
  border-top: 1px solid #b4b4b4;
  margin: 0 auto;
  width: 95%;
}

.goal {
  padding-left: 7%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 2%;
  height: 30%;
  flex: 1;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 2%;
  margin-top: 4%;
  margin-right: 4%;
  margin-left: 4%;
  overflow: auto;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.drop-zone {
  border: 2px #333;
  padding-left: 7%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 2%;
  height: 32%;
  flex: 1;
  border-radius: 8px;
  margin-bottom: 2%;
  margin-top: 4%;
  margin-right: 3%;
  margin-left: 3%;
  overflow: auto;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.drop-zone.hover {
  background-color: rgb(210, 210, 210);
}

.clock-icon {
  color: rgb(73, 73, 73);
}

.editGoalButton {
  padding-top: 8%;
  padding-bottom: 1%;
  background-color: white;
  margin-right: 50%;
  color: rgb(68, 68, 68);
}
